header {
    background-color: rgb(38, 167, 231);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#00005D;
    font-size: 145%;
    padding: 10px 10px 10px 155px;
    background-image: url(/images/lighthouselogo.jpg);
    background-repeat: no-repeat;
    background-size:contain;
}

.searchbar {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-family: "Century Gothic", sans-serif;
    color: rgb(164, 220, 248);
}

nav {
    /* float: left; */
    float:left;
    width: 150px;
    font-weight: bold;
    letter-spacing: 0.1em;
    background-color: rgb(164, 220, 248);
}

li {
    list-style: none;
    color: rgb(255, 255, 255);
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 20px;
}

.flexcontainer {
    display: flex;
}

img {
    float: right;
}
footer {
    background-color: rgb(38, 167, 231);
    background-position: center;
    text-align: center;
}

.content{
    padding: 20px 20px 0 20px;
}

.searchbar {
    display: none;
}