@media only screen and (min-width: 0px) and (max-width:768px) {
    header {
        background-color: rgb(38, 167, 231);
        text-align: center;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:#00005D;
        font-size: 145%;
        padding: 10px 10px 10px 155px;
        background-image: url(/images/lighthouselogo.jpg);
        background-repeat: no-repeat;
        background-size:contain;
    }
    .flexcontainer{
        display: flex;
        flex-direction: column;
    }
    nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        font-weight: bold;
        letter-spacing: 0.1em;
        background-color: rgb(164, 220, 248);
        font-family: Century Gothic, sans-serif;
    }
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    li {
        list-style: none;
        color: rgb(255, 255, 255);
        margin: 5px;
        width: 100%;
    }
    a{
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: 10px 20px;

    }
    
    h1 {
        font-size: xx-large;
        text-align: center;
    }
    
    h2 {
        font-family: "Century Gothic", sans-serif;
        color: rgb(164, 220, 248);
    }

    img {
        float: right;
        display: none;
    }
    footer {
        background-color: rgb(38, 167, 231);
        background-position: center;
        text-align: center;
    }
    
    .content{
        padding: 20px 20px 0 20px;
    }

    .searchbar {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    
    
    .searchbar a:hover {
        background-color: #ddd;
        color: black;
    }
      
    .searchbar a.active {
        background-color: #2196F3;
        color: white;
    }
    
    .searchbar input[type=search] {
        float: right;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 17px;
    }
}